body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
canvas{
	width: 100%;
	height: 100%;
	margin: 0;
}
.graph-radio{
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	float: none;
}
#time-series svg{
	height: 700px;
}
.pie-legend li span {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 5px;
}
