extends layout

block content
	div.container-fluid(ng-app="fyp")
		div.header-options.row(ng-controller='ButtonController')
			div.col-sm-2
				div.btn-group.btn-block.filter-btn
					button.btn.btn-success.col-sm-10(type='button') {{getChartType()}}
					button.btn.btn-success.dropdown-toggle.col-sm-2(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						span.caret
					ul.dropdown-menu
						li
							a(href ng-click="setChartType('Pie Chart')") Pie Chart
						li
							a(href ng-click="setChartType('Time-series')") Time-series
						li
							a(href ng-click="setChartType('Line Chart')") Line Chart
			div.col-sm-2
				div.btn-group.btn-block.filter-btn
					button.btn.btn-success.col-sm-10(type='button') {{getCpcLevel()}}
					button.btn.btn-success.dropdown-toggle.col-sm-2(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						span.caret
					ul.dropdown-menu
						li
							a(href ng-click="setCpcLevel('Sections')") By sections
						li
							a(href ng-click="setCpcLevel('Classes')") By classes
						li 
							a(href ng-click="setCpcLevel('Subclasses')") By sub-classes

		div#pie-chart(ng-controller='PieChartController', ng-show="getChartType()=='Pie Chart'")
		div#line-chart(ng-controller='LineChartController', ng-show="getChartType()=='Line Chart'")
		div#time-series(ng-controller='StackedAreaChartController')
			svg(ng-show="getChartType()=='Time-series'")
			


